@import url(./__container/comments__container.css);

.comments {
    max-width: 1184px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: auto;
    padding-bottom: 102px;
}

@media (max-width: 1279px) {
    .comments {
        max-width: 928px;
    }
}

@media (max-width: 1023px) {
    .comments {
        max-width: 660px;
    }
}

@media (max-width: 767px) {
    .comments {
        max-width: 343px;
        padding-bottom: 48px;
    }
}

@media (max-width: 374px) {
    .comments {
        max-width: 288px;
        padding-bottom: 64px;
    }
}