.content__subtitle {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 35px;
    text-align: center;
    margin: 0;
    width: 640px;
    padding-bottom: 72px;
}

@media (max-width: 767px) {
    .content__subtitle {
        font-size: 16px;
        line-height: 23px;
        padding-bottom: 24px;
        width: 100%;
    }
}