@import url(./__item/photo-grid__item.css);

.photo-grid {
    margin: auto;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 16px 1fr 16px 1fr 16px 1fr;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 188px);
    grid-gap: 16px;
    max-width: 1184px;
    padding-bottom: 92px;
}

@media (max-width: 1279px) {
	.photo-grid {
		max-width: 928px;
		grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 200px);
		grid-gap: 14px;
		padding-bottom: 102px;
	}
}

@media (max-width: 1023px) {
    .photo-grid {
        max-width: 720px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(6, 234px);
        grid-gap: 16px;
        padding-bottom: 102px;
    }
}

@media (max-width: 767px) {
    .photo-grid {
        max-width: 343px;
        grid-template-columns: 1fr;
        grid-gap: 16px;
        padding-bottom: 64px;
        grid-template-rows: repeat(12, 232px)
    }
}

@media (max-width: 374px) {
    .photo-grid {
        max-width: 288px;
        grid-template-columns: 1fr;
        grid-gap: 8px;
        padding-bottom: 64px;
        grid-template-rows: repeat(12, 192px)
    }
}