@import url(./__item/photo-grid__item.css);

.photo-grid {
    margin: auto;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 16px 1fr 16px 1fr 16px 1fr;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(auto-fit, 1fr);
    grid-gap: 16px;
    max-width: 1184px;
    padding-bottom: 92px;
}

@media (max-width: 1279px) {
	.photo-grid {
		max-width: 928px;
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 14px;
		padding-bottom: 102px;
	}
}