.places {
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: auto;
    max-width: 984px;
}

@media (max-width: 1279px) {
    .places {
        max-width: 928px; 
    }
}

@media (max-width: 1023px) {
    .places {
        max-width: 720px;
    }
}

@media (max-width: 767px) {
    .places {
        max-width: 100%; 
    }
}