@import url(./vendor/normalize.css);
@import url(./fonts/fonts.css);
@import url(./blocks/header/header.css);
@import url(./blocks/language-link/language-link.css);
@import url(./blocks/language-link/_choosed/language-link_choosed.css);
@import url(./blocks/card/card.css);
@import url(./blocks/dark/dark.css);
@import url(./blocks/comment/comment.css);
@import url(./blocks/comments/comments.css);
@import url(./blocks/content/content.css);
@import url(./blocks/content/__title/_milk/content__title_milk.css);
@import url(./blocks/cover/cover.css);
@import url(./blocks/description-text/description-text.css);
@import url(./blocks/intro/intro.css);
@import url(./blocks/lead/lead.css);
@import url(./blocks/link-title/link-title.css);
@import url(./blocks/website-link/website-link.css);
@import url(./blocks/list-of-things/list-of-things.css);
@import url(./blocks/page/page.css);
@import url(./blocks/photo-grid/photo-grid.css);
@import url(./blocks/places/places.css);
@import url(./blocks/screenshot/screenshot.css);
@import url(./blocks/video/video.css);
@import url(./blocks/video-description/video-description.css);
@import url(./blocks/video-text/video-text.css);
@import url(./blocks/footer/footer.css);

[class$=link]:hover {
	opacity: 0.35;
	transition: 0.5s linear;
}











