.comments__container {
    display: -ms-grid;
    display: grid;
    grid-gap: 19px;
    -ms-grid-columns: 1fr 19px 1fr 19px 1fr;
    grid-template-columns: repeat(3, 1fr)
}

@media (max-width: 1023px) {
    .comments__container {
        -ms-grid-columns: 382px;
        grid-template-columns: 382px;
        grid-gap: 48px;
    }
}

@media (max-width: 767px) {
    .comments__container {
        -ms-grid-columns: 100%;
        grid-template-columns: 100%;
        grid-gap: 48px;
    }
}