.cover__subtitle {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    width: 382px;
    margin: 0 auto;
    padding: 134px 0 48px;
}

@media (max-width: 1279px) {
    .cover__subtitle {
        padding: 87px 0 48px;
    }
}

@media (max-width: 1023px) {
    .cover__subtitle {
        padding: 45px 0 40px;
    }
}

@media (max-width: 727px) {
    .cover__subtitle {
        padding: 7px 0 24px;
        font-size: 14px;
        line-height: 17px;
        width: 280px;
        text-align: center;
    }
}