.card__description-text {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    padding-bottom: 36px;
    margin: 0;
}

@media (max-width: 1023px) {
    .card__description-text {
        font-size: 16px;
		line-height: 27px;
    }
}
