.intro__nubmers {
    font-weight: normal;
    font-size: 13px;
    line-height: 20px;
    margin: 0;
    list-style-type: none;
    padding: 24px 0 0;
}

@media (max-width: 767px) {
    .intro__nubmers { 
        padding: 32px 0 0;
        font-size: 12px;
        line-height: 19px;
    }
}