.videocard__description {
	color: #fff;
	padding: 30px 30px 30px;
	text-decoration: none;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
	height: 100%;
	box-sizing: border-box;
}

@media (max-width: 1023px) {
    .video-description {
        padding: 24px 0 24px 24px;
    }
}