.header {
    padding: 30px 0 48px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    max-width: 1184px;
    margin: 0 auto;
}

@media (max-width: 1279px) {
	.header {
		max-width: 928px;
	}
}

@media (max-width: 1023px) {
    .header {
        max-width: 720px;
    }
}