.content__title_milk {
    color: #fffdfd;
    width: 100%;
    padding: 0;
    margin: 0 auto;
}

@media (max-width: 1279px) {
    .content__title_milk {
        max-width: 520px;
    }
}

@media (max-width: 1023px) {
    .content__title_milk {
        font-size: 72px;
        line-height: 78px;
    }
}

@media (max-width: 727px) {
    .content__title_milk {
        font-size: 32px;
        line-height: 35px;
    }
}