.video__item {
	background-color: #000;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 100%;
    grid-template-columns: 100%;
    -ms-grid-rows: 100%;
    grid-template-rows: 100%;
    border-radius: 1%;
    text-decoration: none;
}.video__item > *:nth-child(1) {
	-ms-grid-row: 1;
	-ms-grid-column: 1;
}

.video__item:hover .screenshot {
    -webkit-animation: dark 1s ease-out forwards;
            animation: dark 1s ease-out forwards;
}