.lead__title {
    max-width: 782px;
    line-height: 93px;
    font-size: 96px;
    font-weight: 900;
    font-style: normal;
    margin: 0;
    text-align: center;
}

@media (max-width: 767px) {
    .lead__title {
        font-size: 40px;
		line-height: 44px;
    }
}