@import url(./__author/comment__author.css);
@import url(./__quote/comment__quote.css);
@import url(./__image/comment__image.css);

.comment {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: start;
	    -ms-flex-align: start;
	        align-items: start;
}

@media (max-width: 1023px) {
    .comment {
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
}