@import url(./__author/comment__author.css);
@import url(./__quote/comment__quote.css);

.comment {
	display: flex;
	flex-direction: column;
	align-items: start;
}

@media (max-width: 1023px) {
    .comment {
        align-items: center;
    }
}