.lead__image {
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
    padding-bottom: 11px;
}

@media (max-width: 1279px) {
	.lead__image {
		height: 554px;
		width: 100%;
		padding-bottom: 16px;
		object-fit: fill;
	}
}

@media (max-width: 1023px) {
    .lead__image {
        height: 420px;
        padding-bottom: 16px;
    }
}

@media (max-width: 767px) {
    .lead__image {
        height: 211px;
        padding-bottom: 8px;
    }
}