@import url(./__link/cover__link.css);
@import url(./__title/cover__title.css);
@import url(./__subtitle/cover__subtitle.css);

.cover {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 1184px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: auto;
    overflow: hidden;
    color: #fff;
}

@media (max-width: 1279px) {
    .cover {
        max-width: 1024px;
    }
}

@media (max-width: 1023px) {
    .cover {
        max-width: 768px;
    }
}

@media (max-width: 767px) {
    .cover {
        max-width: 375px;
    }
}

@media (max-width: 374px) {
    .cover {
        max-width: 320px;
    }
}