@import url(./__image/cover__image.css);
@import url(./__subtitle/cover__subtitle.css);
@import url(./__text/cover__text.css);

.cover {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 100%;
    grid-template-columns: 100%;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
    max-width: 1184px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: auto;
    background-color: #000;
    overflow: hidden;
}

.cover > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
}

.cover:hover > .cover__image {
    animation: dark 1s ease-out forwards;
}

@media (max-width: 1279px) {
    .cover {
        max-width: 1024px;
    }
}