.cover__image {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 1;
    grid-row: 1;
    width: 100%;
    z-index: 1;
}

@media (max-width: 1279px) {
    .cover__image {
        width: 1045px;
        height: 562px;
    }
}

@media (max-width: 1023px) {
    .cover__image {
        width: 100%;
        height: 500px;
    }
}

@media (max-width: 767px) {
    .cover__image {
        height: 272px;
    }
}

@media (max-width: 374px) {
    .cover__image {
        height: 216px;
    }
}