@media (max-width: 1023px) {
    .list-of-things_language {
        height: 100%;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        padding-top: 10px;
    }
}