@import url(../vendor/normalize.css);
@import url(../fonts/fonts.css);
@import url(../blocks/page/page.css);
@import url(../blocks/header/header.css);
@import url(../blocks/card/card.css);
@import url(../blocks/comment/comment.css);
@import url(../blocks/comments/comments.css);
@import url(../blocks/content/content.css);
@import url(../blocks/content/__title/_lower/content__title_lower.css);
@import url(../blocks/cover/cover.css);
@import url(../blocks/intro/intro.css);
@import url(../blocks/lead/lead.css);
@import url(../blocks/list-of-things/list-of-things.css);
@import url(../blocks/list-of-things/_language/list-of-things_language.css);
@import url(../blocks/list-of-things/_column/list-of-things_column.css);
@import url(../blocks/list-of-things/__language-link/_choosed/list-of-things__language-link_choosed.css);
@import url(../blocks/photo-grid/photo-grid.css);
@import url(../blocks/places/places.css);
@import url(../blocks/video/video.css);
@import url(../blocks/videocard/videocard.css);
@import url(../blocks/videocard/_kamchatka/videocard_kamchatka.css);
@import url(../blocks/videocard/_observatory/videocard_observatory.css);
@import url(../blocks/footer/footer.css);









