.videocard_observatory {
    background-image: url(../../../images/observatory.jpg);
    background-size: cover;
    position: relative;
    z-index: 0;
}

.videocard_observatory::before {
  content: '';
  height: 100%;
  width: 100%;
  background: #000;
  opacity: 0;
  position: absolute;
  border-radius: 1%;
  z-index: -1;
}

.videocard_observatory:hover::before {
  opacity: 0.8;
  transition: 0.5s ease-out;
}