@import url(./__link/footer__link.css);
@import url(./__copyright/footer__copyright.css);

.footer {
    max-width: 1184px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: auto;
    padding: 160px 0 48px;
}

@media (max-width: 1279px) {
    .footer {
        max-width: 928px;
    }
}

@media (max-width: 1023px) {
    .footer {
        max-width: 722px;
    }
}

@media (max-width: 727px) {
    .footer {
        max-width: 282px;
        margin-left:16px;
        padding: 64px 0 24px;
        flex-direction: column;
        align-items: flex-start;
    }
}