.card__title {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: card__title;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 65px;
    width: 100%;
    margin: 0;
}