.video__container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 18px 1fr;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 18px;
    -ms-grid-rows: 100%;
    grid-template-rows: 323px;
}

.video__container > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
}

.video__container > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
}

@media (max-width: 1279px) {
    .video__container {
        grid-gap: 16px;
        grid-template-rows: 288px;
    }
}

@media (max-width: 1023px) {
    .video__container {
        grid-template-rows: 200px;
    }
}

@media (max-width: 767px) {
    .video__container {
        grid-template-columns: 100%;
        grid-gap: 8px;
        grid-template-rows: 200px 200px;
    }
}

@media (max-width: 374px) {
    .video__container {
        grid-template-rows: 192px 192px;
    }
}